POSTGRES_DB=sca_emi_ici
POSTGRES_USER=sca_user
POSTGRES_PASSWORD=sca_password_segura
POSTGRES_PORT=5433

DJANGO_SECRET_KEY=cambia-esto-por-una-clave-larga
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

DB_HOST=db
DB_PORT=5432
DB_NAME=sca_emi_ici
DB_USER=sca_user
DB_PASSWORD=sca_password_segura

CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000
SESSION_COOKIE_NAME=sca_sessionid
SESSION_COOKIE_SECURE=False
SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_AGE=28800
SESSION_EXPIRE_AT_BROWSER_CLOSE=False
SESSION_SAVE_EVERY_REQUEST=False
CSRF_COOKIE_NAME=sca_csrftoken
CSRF_COOKIE_SECURE=False
CSRF_COOKIE_SAMESITE=Lax
CSRF_COOKIE_HTTPONLY=True
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=0

NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_APP_NAME=Sistema de Control Académico EMI - ICI
NEXT_PUBLIC_APP_ENV=MVP intranet
