POSTGRES_DB=sca_emi_ici
POSTGRES_USER=sca_user
POSTGRES_PASSWORD=sca_password_segura
POSTGRES_PORT=5433

DJANGO_SECRET_KEY=cambia-esto-por-una-clave-larga
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_HOST=db
DB_PORT=5432
DB_NAME=sca_emi_ici
DB_USER=sca_user
DB_PASSWORD=sca_password_segura
